.dashboardContainer {
    box-sizing: border-box;
    padding: 20px;
    grid-template-columns: 0.7fr 0.3fr;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
}

.dashboardContainerFull {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.albumsContainer {
    box-sizing: border-box;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.albumListAreaContainer {
    border-left: 1px solid var(--bp-theme-border-color);
}